<div class="country">

  <ul class="menu-list">
    {{#each this}}
    <li class="menu-item">
      <h2>{{name}}</h2></li>
    <li class="flag">
      <img src="{{flag}}" alt="Flag of {{name}}" width="300px">
    </li>
    {{/each}}
  </ul>
</div>

{{!-- 
Response
​
body: ReadableStream { locked: false }
​
bodyUsed: false
​
headers: Headers {  }
​
ok: true
​
redirected: false
​
status: 200
​
statusText: "OK"
​
type: "cors"
​
url: "https://restcountries.eu/rest/v2/name/ukraine"
​
<prototype>: ResponsePrototype { clone: clone(), arrayBuffer: arrayBuffer(), blob: blob(), … }
  
   --}}